:root {
	font-size: 16px;
}

body {
	height: 100vh;
	margin: 0;
}

.header,
.footer {
	padding: 0.5rem;
	color: rgb(255, 255, 255);
	background-color: rgb(50, 50, 50);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main,
.footer {
	display: flex;
	justify-content: center;
}

.main {
	background-color: rgb(175, 175, 175);
}

.header h1 {
	display: flex;
	align-items: center;
	font-size: 3rem;
	margin: 0.25rem 1rem;
}

.mode {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

.mode button {
	width: 160px;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	background-color: rgb(50, 125, 50);
	border: 1px solid rgb(255, 255, 255);
}

.mode button:hover {
	background-color: rgb(50, 150, 50);
}

#formOverviewBtn {
	border-radius: 5px 0 0 5px;
}

#directEditBtn {
	border-radius: 0 5px 5px 0;
}

.activeMode {
	background-color: rgb(50, 200, 75) !important;
}

.dataControls {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

.dataControls button {
	width: 120px;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	border: 1px solid rgb(255, 255, 255);
}

#printCV {
	background-color: rgb(175, 75, 255);
}

#printCV:hover {
	background-color: rgb(200, 100, 255);
}

#saveCV {
	background-color: rgb(0, 150, 255);
	border-radius: 5px 0 0 5px;
}

#saveCV:hover {
	background-color: rgb(0, 175, 255);
}

#resetCV {
	background-color: rgb(255, 75, 75);
	border-radius: 0 5px 5px 0;
}

#resetCV:hover {
	background-color: rgb(255, 100, 100);
}

.formOverviewMode {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.directEditMode {
	width: 100%;
	padding: 2rem;
	margin: 0 auto;
}

.overview,
.dataForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem auto;
	box-sizing: border-box;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
}

.overview {
	position: sticky;
	top: 1rem;
	height: fit-content;
	width: 800px;
}

.dataForm {
	width: 500px;
	padding: 0.5rem 2rem;
	background-color: rgb(225, 200, 175);
	border-radius: 5px;
}

h2 {
	min-height: 1.5rem;
	padding: 0.25rem 0;
}

h3 {
	display: flex;
	justify-content: space-between;
}

h2,
h3,
p {
	min-height: 1.5rem;
	margin: 0.25rem;
	line-height: 1.5rem;
}

h5 {
	margin: 0.25rem;
}

.mainCVBody {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: rgb(53, 45, 45);
}

.headerCV {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 120px;
	width: 100%;
	padding: 0.5rem;
	background-color: rgba(0, 150, 255, 0.75);
	box-sizing: border-box;
}

.headerCV h1 {
	min-height: 2rem;
	padding: 0.25rem 0;
	margin: 0.25rem;
	line-height: 1.5rem;
}

.leftPanelCV,
.rightPanelCV {
	min-height: 800px;
	box-sizing: border-box;
}

.leftPanelCV {
	width: 220px;
	background-color: rgb(225, 225, 225);
}

.leftPanelCV div {
	padding: 0.5rem;
}

.rightPanelCV {
	width: 580px;
	padding: 0.5rem;
	background-color: rgb(255, 255, 255);
}

.experience,
.education {
	margin: 1rem 0;
}

.experience p,
.education p {
	width: 50%;
}

.description,
.item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

img {
	height: 280px;
	width: 200px;
}

span.date {
	position: absolute;
	right: 0;
	margin: 0.25rem;
	line-height: 1.5rem;
}

.grayHR {
	width: 100%;
	border: 1px solid rgb(150, 150, 150);
}

.blackHR {
	margin: 0.25rem 0;
	border: 1px solid rgb(75, 75, 75);
}

:empty:not(:focus)::before {
	content: attr(placeholder_text);
	color: rgba(0, 0, 0, 0.5);
}

section,
form {
	display: flex;
	flex-direction: column;
}

section {
	width: 100%;
	margin-top: 0.5rem;
}

label {
	display: flex;
	align-items: center;
}

input,
textarea {
	width: 100%;
	padding: 0.25rem;
	margin: 0.25rem;
	box-sizing: border-box;
}

textarea {
	resize: none;
}

.deleteBtnInForm,
.addBtnInForm {
	padding: 0.25rem;
	margin: 0.25rem 3rem;
	font-size: 1rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

.deleteBtnInForm {
	margin-top: 0.75rem;
}

.deleteBtnInForm:hover,
.addBtnInForm:hover {
	background-color: rgba(0, 0, 0, 0.75);
}

input,
textarea,
label p,
span[name='photo'] {
	width: 100%;
	margin: 0.25rem;
	padding: 0.25rem;
	font-size: 1rem;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(125, 125, 125);
}

input[name='photo'] {
	display: none;
}

.headerCV.editing h1 {
	display: flex;
	justify-content: space-between;
}

.headerCV.editing input {
	width: 360px;
	padding: 0.25rem;
	margin: 0 0.25rem;
}

.headerCV.editing input[name='title'] {
	width: 360px;
	padding: 0.25rem;
	margin: 0.25rem 0.5rem;
}

.leftPanelCV.editing input,
.leftPanelCV.editing input[type='date'],
.rightPanelCV .item.editing span.date input {
	width: 195px;
}

.leftPanelCV.editing button {
	padding: 0;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

.leftPanelCV.editing textarea[name='address'] {
	height: 70px;
	width: 195px;
}

.rightPanelCV .item.editing span.date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	line-height: 1.5rem;
}

.rightPanelCV .item.editing input {
	height: 1.5rem;
	width: 50%;
}

.description.editing textarea {
	width: 550px;
}

.addBtnInCV {
	display: none;
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
}

.addBtnInCV:hover {
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px solid rgba(0, 0, 0, 0.75);
}

.deleteBtnInCV {
	position: absolute;
	bottom: 1rem;
	right: 0;
	margin: 0.25rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
}

.deleteBtnInCV:hover {
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px solid rgba(0, 0, 0, 0.75);
}

@media (max-width: 1350px) {
	.formOverviewMode {
		flex-direction: column;
	}

	.overview {
		position: initial;
	}

	.dataForm {
		width: 800px;
	}
}
