:root {
	font-size: 16px;
}

body {
	height: 100vh;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	color: rgb(255, 255, 255);
	background-color: rgb(50, 50, 50);
}

.main {
	display: flex;
	justify-content: center;
	background-color: rgb(175, 175, 175);
}

.footer {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	color: rgb(255, 255, 255);
	background-color: rgb(50, 50, 50);
}

.mode {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

.mode button {
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(50, 125, 50);
	width: 10rem;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	font-weight: 600;
}

.mode button:hover {
	background-color: rgb(50, 150, 50);
	width: 10rem;
}

#directEditBtn {
	border-radius: 0.5rem 0 0 0.5rem;
}

#formOverviewBtn {
	border-radius: 0 0.5rem 0.5rem 0;
}

.activeMode {
	background-color: rgb(50, 200, 75) !important;
}

.dataControls {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

.dataControls button {
	border: 1px solid rgb(255, 255, 255);
	width: 7rem;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	font-weight: 600;
}

#saveData {
	background-color: rgb(0, 150, 255);
	border-radius: 0.5rem 0 0 0.5rem;
}

#saveData:hover {
	background-color: rgb(0, 175, 255);
}

#wipeData {
	background-color: rgb(255, 75, 75);
	border-radius: 0 0.5rem 0.5rem 0;
}

#wipeData:hover {
	background-color: rgb(255, 100, 100);
}

.header h1 {
	font-size: 2.5rem;
	display: flex;
	align-items: center;
}

h1 {
	min-height: 2rem;
	padding: 0.25rem 0;
}

h2 {
	min-height: 1.5rem;
	padding: 0.25rem 0;
}

h3,
p {
	min-height: 1.5rem;
}

h1,
h2,
h3,
p {
	margin: 0.25rem;
	line-height: 1.5rem;
}

h5 {
	margin: 0.25rem;
}

.directEditMode {
	width: 100%;
	padding: 2rem;
	margin: 0 auto;
}

.formOverviewMode {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.overview,
.dataForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.75);
}

.overview {
	position: sticky;
	top: 1rem;
	width: 800px;
	height: fit-content;
}

.dataForm {
	border-radius: 0.25rem;
	background-color: rgb(225, 200, 175);
	padding: 0.5rem 2rem;
	width: 25rem;
}

section {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
}

input,
textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 0.25rem;
	margin: 0.25rem;
}

textarea {
	resize: none;
}

.experience,
.education {
	margin: 1rem 0;
}

.experience p,
.education p {
	width: 50%;
}

.headerCV {
	width: 100%;
	padding: 0.5rem;
	background-color: rgba(0, 150, 255, 0.75);
	box-sizing: border-box;
}

.mainCVBody {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: rgb(53, 45, 45);
}

.leftPanelCV,
.rightPanelCV {
	min-height: 800px;
}

.leftPanelCV {
	background-color: rgb(225, 225, 225);
}

.leftPanelCV div {
	padding: 0.5rem;
}

.rightPanelCV {
	width: 75%;
	background-color: rgb(255, 255, 255);
}

.rightPanelCV {
	padding: 0.5rem;
}

form div {
	display: flex;
	justify-content: space-between;
}

.addBtn,
.deleteBtn {
	font-size: 1rem;
	margin: 0.25rem 5rem;
	background-color: rgb(0, 0, 0);
	border: none;
	border-radius: 0.25rem;
	color: rgb(255, 255, 255);
	font-weight: 600;
	padding: 0.25rem;
}

.addBtn:hover,
.deleteBtn:hover {
	background-color: rgba(0, 0, 0, 0.75);
}

.description,
.item {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
}

label {
	display: flex;
	align-items: center;
}

input,
textarea,
label p,
span[name='photo'] {
	font-size: 1rem;
	margin: 0.25rem;
	padding: 0.25rem;
	border: 1px solid rgb(125, 125, 125);
	width: 100%;
	background-color: rgb(255, 255, 255);
}

input[name='photo'] {
	display: none;
}

span.date {
	margin: 0.25rem;
	position: absolute;
	right: 0;
	line-height: 1.5rem;
}

.grayHR {
	width: 100%;
	border: 1px solid rgb(150, 150, 150);
}

.blackHR {
	border: 1px solid rgb(75, 75, 75);
	margin: 0.25rem 0;
}

img {
	width: 200px;
	height: 280px;
}

p:empty:not(:focus)::before {
	content: attr(placeholder_text);
}

.editing span.date {
	margin: 0.25rem;
	position: absolute;
	right: 0;
	line-height: 1.5rem;
}

.editing .description,
.editing .item {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
}

.editing input,
.editing input {
	width: 50%;
}

.editing div button {
	border: none;
}
