:root {
	font-size: 16px;
}

body {
	height: 100vh;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	color: rgb(255, 255, 255);
	background-color: rgb(50, 50, 50);
}

.main {
	display: flex;
	justify-content: center;
	background-color: rgb(175, 175, 175);
}

.footer {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	color: rgb(255, 255, 255);
	background-color: rgb(50, 50, 50);
}

.inputMode {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	padding: 0.25rem;
}

.inputMode div {
	position: relative;
	left: -50%;
}

.inputMode button {
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(50, 125, 50);
	width: 8rem;
	padding: 0.25rem 0.5rem;
}

#direct {
	border-radius: 0.5rem 0 0 0.5rem;
}

#formPreview {
	border-radius: 0 0.5rem 0.5rem 0;
}

.activeInputMode {
	background-color: rgb(50, 200, 75) !important;
}

.CVcontrols {
	display: flex;
	justify-content: center;
	padding: 0.25rem;
}

.CVcontrols button {
	border: 1px solid rgb(255, 255, 255);
	width: 4rem;
	padding: 0 0.5rem;
}

#save {
	background-color: rgb(0, 150, 255);
	border-radius: 0.5rem 0 0 0.5rem;
}

#clear {
	background-color: rgb(255, 75, 75);
	border-radius: 0 0.5rem 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0.25rem 0;
}

.directCV {
	width: 100%;
}

.formPreviewCV {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.previewCV,
.formCV {
	margin: 1rem 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formCV {
	width: 30%;
}

section {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
}

input,
textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 0.25rem;
	margin: 0.25rem 0;
}

textarea {
	resize: none;
}

.previewCV {
	width: 800px;
	height: 1000px;
}

p {
	min-height: 1.5rem;
	margin: 0.25rem 0;
}

.experienceCV p,
.educationCV p {
	width: 50%;
}

.experienceCV,
.educationCV {
	margin: 1rem 0;
}

.headerCV {
	width: 100%;
	min-height: 7rem;
	padding: 0.5rem;
	background-color: rgba(0, 150, 255, 0.75);
	box-sizing: border-box;
}

.mainBodyCV {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}

.leftPanelCV {
	width: 30%;
	background-color: rgb(225, 225, 225);
}

.leftPanelCV div {
	padding: 0.5rem;
}

.rightPanelCV {
	width: 70%;
	background-color: rgb(255, 255, 255);
}

.rightPanelCV {
	padding: 0.5rem;
}

form div {
	display: flex;
	justify-content: space-between;
}

form button,
section button {
	font-size: 1rem;
	margin: 0.5rem 5rem;
	padding: 0.25rem;
}

.item {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
}

label {
	display: flex;
	align-items: center;
}

input,
textarea,
label p,
span[name='photo'] {
	font-size: 1rem;
	margin: 0.25rem 0;
	padding: 0.25rem;
	border: 1px solid rgb(125, 125, 125);
	width: 100%;
	background-color: rgb(255, 255, 255);
}

input[name='photo'] {
	display: none;
}

span.date {
	margin: 0.25rem 0;
	position: absolute;
	right: 0;
}

.grayHR {
	width: 100%;
	border: 1px solid rgb(150, 150, 150);
}

.blackHR {
	border: 1px solid rgb(50, 50, 50);
	margin: 0.25rem 0;
}
